extends layout

block content
  div.container
    h1=title
    p Welcome to ShoutsApp!
    ul#actions
      li.list-group: a.btn.btn-info(style="width: 100px; margin-top: 10px;" href="/adduser") Add User
      li.list-group: a.btn.btn-info(style="width: 100px;" href="/users") See Users
      li.list-group: a.btn.btn-info(style="width: 100px;" href="/shouts") See Shouts
    
