extends layout

block content
	form#formAddShout(name="addshout", method="post", action="/addshout")
		div
			select(name="username")
				option(value="devuser1") User1
				option(value="devuser2") User2
				option(value="devuser3") User3
				option(value="devuser4") User4
		br
		div
			textarea(name="body", placeholder="Shout Something!", cols="50", rows="5")
		br
		div
			button#btnSubmit.mybut(type="submit") Send
	h1 Shouts
	ul
		each shout, i in shouts
			li <strong> 
				a(href="/shouts/#{shout.username}") #{shout.username}:  </strong>
				|  #{shout.body}