extends layout

block content
	h1 Users
	
	ul#usersList
		each user, i in users
			li 
				p #{user.username}
					a(href="/user/#{user.username}")
						button#seeUser.mybut(type="submit") See User
				//- a(href="/user/#{user.username}") #{user.username}
	a(href="/adduser") 
		button#addNew.mybut(type="button") Add User