extends layout

block content
	a(href="/") Back To Menu
	h1 Users
	
	ul.list-group#usersList
		each user, i in users
			li.list-group-item
				p.list-group-item #{user.username}
				a.btn-sm.btn-info(href="/user/#{user.username}") See Details
				//- a(href="/user/#{user.username}") #{user.username}
	a.btn.btn-success(href="/adduser") Add User