body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

ul>li{
  margin-bottom: 5px;
}

.mybut {
  width: 85px;
  height: 25px;
  background-color: whitesmoke;
  margin-right: 10px;
}

form>div{
  margin-bottom: 5px;
}

#btnSubmit{
  margin-top: 10px;
}

#seeUser{
  margin-left: 25px;
}

#usersList{
  list-style-type: circle;
}

#addNew{
  margin-top: 25px;
}

#actions{
  display: block;
}